<header class="hm-hero">
  <div id="registerButtons">
    <button type="button" [routerLink]="'/teacherRegistration'" class="hm-btn hm-btnText">Are you a teacher?</button>
    <p class="hm-txt">OR</p>
    <button type="button" [routerLink]="'/studentRegistration'" class="hm-btn1 hm-btnText">Are you a student?</button>
  </div>
</header>

<nav class="hm-navbar navbar-expand-lg navbar-light">
  <a class="hm-brand" href="#">
    <img style="max-width: 60px;" src="../../../assets/img/brand/back2school.png" rel="icon">
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav topnav-right">
      <li class="hm-item">
        <a class="hm-link" href="#">Home</a>
      </li>

      <li class="hm-item">
        <a class="hm-link" href="#">Our Programs</a>
      </li>
      <li class="hm-item">
        <a class="hm-link" href="#">Teachers</a>
      </li>
      <li class="hm-item">
        <a class="hm-link" href="#">Awards</a>
      </li>
      <li class="hm-item">
        <a class="hm-link" href="#">News</a>
      </li>
      <li class="hm-item">
        <a class="hm-link" href="#">Contact Us</a>
      </li>
      <li class="hm-item">
        <button type="button" class="hm-btn waves-effect" (click)="openLogin()">Login</button>
      </li>
    </ul>
  </div>
</nav>
<!-- <p id="bottom"></p> -->

<div class="container-fluid home-background">
  <div class="separator">
    <h5>Awards</h5>
  </div>
  <div class="row">
    <div class="col-0 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 award text-center">
      <img src="../../../assets/img/achievements/image5.png">
      <h5>Best Online portal 2020</h5>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 award text-center">
      <img src="../../../assets/img/achievements/image1.png">
      <h5>Safe playground</h5>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 award text-center">
      <img src="../../../assets/img/achievements/image2.png">
      <h5>Best classroom training</h5>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 award text-center">
      <img src="../../../assets/img/achievements/image3.png">
      <h5>Leader in teaching</h5>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 award text-center">
      <img src="../../../assets/img/achievements/image4.png">
      <h5>Energy Efficient</h5>
    </div>
    <div class="col-0 col-sm-1 col-md-1 col-lg-1"></div>
  </div>
  <div class="separator">
    <h5>Our Programs</h5>
  </div>
  <div class="row">

    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
      <mat-card class="example-card home-card-bg1">
        <img mat-card-image class="mat-img-size" src="../../../assets/img/offerings/kid.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title class="home-card-text-header">KinderGarten</mat-card-title>
        </mat-card-header>
        <mat-card-content class="home-card-content">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <p>Age Group: 2-4 years</p>
              <div class="row center-button">
                <button mat-raised-button color="primary">Learn
                  More ></button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
      <mat-card class="example-card home-card-bg2">
        <img mat-card-image class="mat-img-size"
          src="../../../assets/img/offerings/5 Reasons Camping on the 10th Step will Save Your Holidays - The Joyous Family.jpg"
          alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title class="home-card-text-header">Primary School</mat-card-title>
        </mat-card-header>
        <mat-card-content class="home-card-content">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <p>Age Group: 5-12 years</p>
              <div class="row center-button">
                <button mat-raised-button color="primary">Learn
                  More ></button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
      <mat-card class="example-card home-card-bg3">
        <img mat-card-image class="mat-img-size"
          src="../../../assets/img/offerings/Features to look for in school that prepares your child for world.jpg"
          alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title class="home-card-text-header">Secondary School</mat-card-title>
        </mat-card-header>
        <mat-card-content class="home-card-content">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <p>Age Group: 13-15 years</p>
              <div class="row center-button">
                <button mat-raised-button color="primary">Learn
                  More ></button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
      <mat-card class="example-card home-card-bg4">
        <img mat-card-image class="mat-img-size"
          src="../../../assets/img/offerings/Behind the Curtain_ Generation Z Students in College.png"
          alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title class="home-card-text-header">Higher Secondary School</mat-card-title>
        </mat-card-header>
        <mat-card-content class="home-card-content">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <p>Age Group: 16-18 years</p>
              <div class="row center-button">
                <button mat-raised-button color="primary">Learn
                  More ></button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="separator">
    <h5>Teachers</h5>
  </div>
  <div class="row">
    <div class="col-0 col-md-1 col-sm-1 col-lg-1">
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 teacher-spacing">
      <figure>
        <p><img class="rounded-img" src="../../../assets/img/brand/bbh-singapore-BUK-z0LrGBo-unsplash.jpg"
            alt="Eiffel tower">
        <figcaption>Katty Perry</figcaption>
        </p>
      </figure>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 teacher-spacing">
      <figure>
        <p><img class="rounded-img" src="../../../assets/img/brand/bbh-singapore-BUK-z0LrGBo-unsplash.jpg"
            alt="Eiffel tower">
        <figcaption>Katty Perry</figcaption>
        </p>
      </figure>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 teacher-spacing">
      <figure>
        <p><img class="rounded-img" src="../../../assets/img/brand/bbh-singapore-BUK-z0LrGBo-unsplash.jpg"
            alt="Eiffel tower">
        <figcaption>Katty Perry</figcaption>
        </p>
      </figure>
    </div>
  </div>
  <div class="separator">
    <h5>News</h5>
  </div>
  <div class="row">
    <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 photo">
      <img src=".././../../assets/img/offerings/kid.jpg">
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 my-auto">
      <h5>How can you deal with your child?</h5>
      <p>11 November 2020</p>
      <p>Anxious about how your child will cope with going back to school? Euronews spoke to a paediatrician and a
        psychotherapist to see how you can help make the transition safer and smoother.</p>
    </div>
    <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 my-auto">
      <h5>How can you deal with your child?</h5>
      <p>11 November 2020</p>
      <p>Anxious about how your child will cope with going back to school? Euronews spoke to a paediatrician and a
        psychotherapist to see how you can help make the transition safer and smoother.</p>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 photo">
      <img src=".././../../assets/img/offerings/kid.jpg">
    </div>
    <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <div class="separator">
    <h5>Contact Us</h5>
  </div>
  <div class="row">
    <div class="col-0 col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <mat-card>
        <form fxLayout="column">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <mat-form-field appearance="fill">
                <input matInput placeholder="First Name">
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <mat-form-field appearance="fill">
                <input matInput placeholder="Last Name">
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <mat-form-field appearance="fill">
                <input matInput placeholder="Email Address">
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <mat-form-field appearance="fill">
                <input matInput placeholder="Phone Number">
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <mat-form-field appearance="fill">
                <textarea matInput placeholder="Message"></textarea>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <button matTooltip="Submit Form" mat-button type="submit" class="mat-raised-button">
                Submit
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
    <div class="col-0 col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5">
      <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 photo padding-brand">
          <img src="../../../assets/img/brand/back2school.png">
        </div>
        <div class="col-2 col-*-2 my-auto padding-brand">
          <h5>Back2School</h5>
        </div>
      </div>
      <div class="row">
        <p>This is a theme for school. It is one stop theme for all the schools easy to integrate with backend. Ready
          made
          module for Student Dashboard, Assignments and Exam results.
          This is a theme for school.</p>
      </div>
      <div class="row">
        <mat-icon class="material-icons-two-tone location">location_city</mat-icon>
        <span>
          <h6>
            11, "VRAJ", Texas, India</h6>
        </span>
      </div>
      <div class="row teacher-spacing ">
        <mat-icon class="material-icons-two-tone location">call</mat-icon>
        <span>
          <h6>
           +91 0123456789</h6>
        </span>
      </div>
      <div class="row teacher-spacing ">
        <mat-icon class="material-icons-two-tone location">email</mat-icon>
        <span>
          <h6>
           someone@example.com</h6>
        </span>
      </div>
      <div class="row teacher-spacing ">
        <mat-icon class="material-icons-two-tone location">schedule</mat-icon>
        <span>
          <h6>
           Monday-Friday: 9:00 AM-03:00 PM, Saturday: 09:00 AM-12:00 PM</h6>
        </span>
      </div>
      <div class="row teacher-spacing ">
        <mat-icon class="material-icons-two-tone location">language</mat-icon>
        <span>
          <h6>
           www.www.com</h6>
        </span>
      </div>
    </div>
  </div>
</div>