.row {
    margin: 5px 0 0 0 !important;
    // width: 85vw !important;
}

.example-card {
    min-height: 380px !important;
}

.mat-card {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 16px;
    padding: 0;
    max-width: unset !important;
    max-height: unset !important;
    border-radius: 15px !important;
    box-shadow: 0px 0px 5px 2px rgba(41, 38, 38, 0.2), 0px 1px 1px 0px rgba(43, 40, 40, 0.14),
        0px 1px 3px 0px rgba(27, 21, 21, 0.12) !important;
}

.dashboardTitle {
    margin-left: 8px;
    margin-right: 5px;
    font-size: 0.9em;
}

.verticalLine {
    font-weight: 10;
    font-size: 1.5em;
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
}

.breadLine {
    font-weight: 10;
    font-size: 1em;
    color: gray;
    margin-left: 5px;
}

table {
    width: 100%;
    border-collapse: collapse !important;
    // border-radius: 1em;
    margin-top: 10px;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
table tr:last-child td {
    border-bottom: 0 solid;
}

.mat-table {
    background-color: transparent !important;
}

.table-caption {
    padding-left: 10px;
}

.table-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.canvas {
    height: 280px !important;
}

.subject-icon {
    padding-top: 3px;
}

.doghnutShape {
    height: 32% !important;
    width: 32% !important;
    margin-right: 10px;
}

.chart-wrapper {
    padding-top: 10px;
}

.mat-card-image {
    max-height: 150px !important;
}

.mat-course-content {
    padding-left: 15px;
}

.center-button {
    justify-content: center;
}

.course-card-shadow {
    box-shadow: 0px 0px 5px 2px rgba(41, 38, 38, 0.2), 0px 1px 1px 0px rgba(43, 40, 40, 0.14),
        0px 1px 3px 0px rgba(27, 21, 21, 0.12) !important;
}

.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
    display: none;
}
.submenu.expanded {
    transform: scaleY(1);
}

.course-detail-font {
    font-size: 16px !important;
}

.course-detail-content {
    margin: 0 16px;
}

.aligned-with-icon {
    position: absolute;
    margin-top: 2px;
    margin-left: 5px; /* optional */
    font-size: 0.9375rem !important;
}

.notification-p-link {
    margin-bottom: 0.3rem !important;
}

.notification-d-link {
    margin-bottom: 1rem !important;
    margin-left: 20px !important;
    margin-top: -10px !important;
}

