<div class="container-fluid">
    <div class="row">
        <mat-toolbar>
            <span class="dashboardTitle">{{'Dashboard'}}</span>
            <span class="verticalLine">|</span>
            <mat-icon aria-hidden="true" aria-label="home" class="material-icons-filled">event
            </mat-icon>
            <span class="breadLine">/</span>
            <a [routerLink]="'/studentLogin/studentDashboard'" [routerLinkActive]="['active']"><span
                    class="dashboardTitle">Home</span></a>
            <span class="breadLine">/</span>
            <span class="dashboardTitle">Student Clendar</span>
        </mat-toolbar>
    </div>
    <div class="row calendar-bottom">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>My Calendar</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <full-calendar #fullcalendar id="calendar" [options]="calendarOptions"></full-calendar>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>

<ng-template #myTemplateRef>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div mat-dialog-content align="center">
                    <h2 mat-dialog-title>Add new event</h2>

                    <form [formGroup]="eventForm" fxLayout="column">

                        <div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <mat-form-field>

                                        <input matInput placeholder="event name" formControlName="eventName" required>
                                        <mat-error *ngIf="eventForm.get('eventName').hasError('required')">
                                            Please enter a valid event name
                                        </mat-error>

                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                    <mat-form-field>
                                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose start time"
                                            formControlName="startDate" [min]="minDate" [max]="maxDate"
                                            [disabled]="disabled">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners"
                                            [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                                            [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                            [enableMeridian]="enableMeridian">
                                        </ngx-mat-datetime-picker>
                                    </mat-form-field>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                    <mat-form-field>
                                        <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Choose end time"
                                            formControlName="endDate" [min]="minDate" [max]="maxDate"
                                            [disabled]="disabled">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners"
                                            [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                                            [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                            [enableMeridian]="enableMeridian">
                                        </ngx-mat-datetime-picker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <mat-form-field>

                                        <textarea matInput placeholder="Event Detail" formControlName="eventDetail"
                                            required></textarea>
                                        <mat-error *ngIf="eventForm.get('eventDetail').hasError('required')">
                                            Please enter a valid event detail
                                        </mat-error>

                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div mat-dialog-actions align="center">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <button mat-button type="submit" (click)="onNoClick()" class="mat-raised-button">
                                Close
                            </button>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4" *ngIf="eventClickedId === undefined || !eventClickedId">
                            <button  mat-button type="submit" (click)="save()" class="mat-raised-button"
                                [disabled]="!(eventForm.controls.eventName.valid && eventForm.controls.eventDetail.valid)">
                                Save
                            </button>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <button *ngIf="eventClickedId != undefined && eventClickedId" mat-button type="submit" (click)="deleteEvent()" class="mat-raised-button"
                                [disabled]="!(eventForm.controls.eventName.valid && eventForm.controls.eventDetail.valid)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>